.nav {
    background-color: rgb(128, 128, 128);
    min-height: 4vh;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-right {
    display: flex;
    align-items: center;
}

.login-button {
    margin-right: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.nav-item {
    margin: 0.5rem;
}